* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #0A1929;
}

h2 {
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 1.2;
  color: #0A1929;
}
h3, h4, h5, h6 {
  color: #0A1929;
}
.banner-description {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
  text-align: justify;
}

.hero-img{
  text-align: center;
}

.color-nav {
  background: #0A1929;
  padding: 10px;
}
.table-color {
  background: #0A1929;
}

.table-cell{
  color: #ffffff!important;
  text-align: center!important;
}
.table-header{
  color: #66B2FF!important;
  text-align: center!important;
  font-weight: 700!important;
  font-size: 14px!important;
}

.text-white {
  color: #ffffff;
}
/* NAvbar CSS */
.nav-link-color {
  color: #66B2FF!important;
}
.navbar-dark .navbar-nav .nav-link {
  color: #5090D3;
}

.navbar-dark .navbar-toggler {
  color: #66B2FF;
  border-color: #5090D3;;
}


.banner-img {
  background-image: url("/banner-cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
}
@media only screen and (max-width: 1000px)  {
  .banner-img {
  display: none;
  }
}


.logo {
  border-radius: 50px;
}
.registration-logo {
  border-radius: 100px;
  width: 50%;
  display: flex;
  margin: auto;
  margin-bottom: 50px;
}

.footer-header {
  color: #5090D3;
}

a:hover {
  color: #fff;
}

.registration-form {
  margin-top: 50px!important;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px, rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
  border-radius: 5px;
}
@media only screen and (max-width: 600px)  {
  .registration-form {
    width: 100%;
  }
}

.registration-form-right-column {
  background-color: #d5a494;
  padding: 50px;
}
.registration-form-left-column {
  padding: 30px;
}
.registration-icons {
  display: flex;
  justify-content: space-evenly;
}
.footer-icons {
  display: flex;
  justify-content: flex-start;
}
.footer-icons div{
  margin-right: 10px;
}
.login-row{
  margin-top: 50px!important;
  width: 30%;
  margin: auto;
  background-color: #d5a494;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px, rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;

  margin-bottom: 50px;
  padding: 30px;
  border-radius: 5px;
}
@media only screen and (max-width: 600px)  {
  .login-row{
    width: 100%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 992px)  {
  .login-row{
    width: 100%;
  }
}

.swal2-styled.swal2-confirm {
  padding: 7px 19px!important;
  border-radius: 2px!important;
  background-color: #d5a494!important;
  border: #d5a494!important;
  text-shadow: 0px -1px 0px rgb(0 0 0 / 30%)!important;
}


/* Modal */
.modal-content {
  background-color: #0A1929;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px, rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
}

.modal-title, .modal-body {
  color: #fff;
}

/* Product Cards
.consistent-width {
  width: 300px;
  box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px, rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;

} */
.products-card {
  width: 30%;
  display: inline-grid;
  margin: 20px;
  box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px, rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;

}
.products-card col {
  float:left; 
  width:25%;
  height:280px;
  margin: 20px;
}

@media only screen and (max-width: 1000px)  {
  .products-card {
    width: 100%;
  }
}

.products-card col .card{
  border: none;
}

.specific-product-card {
  margin: auto;
  box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px, rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;

}